## 인터넷 상의 데이터 읽기

+ URL상의 CSV 읽기 
 - Pandas.read_csv(url)

+ 직접 크롤링
 - requests/Selenium 라이브러리를 통한 처리
 - pandas.read_html(url, ...) : 내부적으로 requests 라이브러리 활용
+ pandas-datareader 라이브러리
 - 내부적으로 requests 라이브러리 활용
 - 지원 데이터 소스 : FRED, Nasdaq, Yahoo Fianace, Google Finance 등
 - 정식 API가 아닌 크롤링을 사용하는 것이기에 버전에 따라 오류 발생 가능
+ seaborn 라이브러리
 - 예제용 저장소 : https://github.com/mwaskom/seaborn-data
 - 깃헙에서 raw url로 입력해야 함

In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/raw/mpg.csv', index_col='name')
print(df.shape)
df.head()

(398, 8)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,1
buick skylark 320,15.0,8,350.0,165,3693,11.5,70,1
plymouth satellite,18.0,8,318.0,150,3436,11.0,70,1
amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1
ford torino,17.0,8,302.0,140,3449,10.5,70,1

In [20]:
df.loc['subaru']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
subaru,26.0,4,108.0,93,2391,15.5,74,3
subaru,32.3,4,97.0,67,2065,17.8,81,3

# pandas.read_html
+ 웹페이지 크롤링을 쉽게 도와주는 라이브러리 / table tag로 자료가 돠어있는경우 가능
+ 디도스 put에 대한 보안처리되어있는경우 안될 수 있음
+ table 외에 다른 문자열이 있을경우 곤란

In [28]:
df_list = pd.read_html('http://astro.kasi.re.kr/life/pageView/5', encoding='utf-8') #encoding='cp949'
df_list

[                양력          음력                     음력간지
 0   2020-03-01 (일)  2020-02-07  경자(庚子)년 기묘(己卯)월 계묘(癸卯)일
 1   2020-03-02 (월)  2020-02-08  경자(庚子)년 기묘(己卯)월 갑진(甲辰)일
 2   2020-03-03 (화)  2020-02-09  경자(庚子)년 기묘(己卯)월 을사(乙巳)일
 3   2020-03-04 (수)  2020-02-10  경자(庚子)년 기묘(己卯)월 병오(丙午)일
 4   2020-03-05 (목)  2020-02-11  경자(庚子)년 기묘(己卯)월 정미(丁未)일
 5   2020-03-06 (금)  2020-02-12  경자(庚子)년 기묘(己卯)월 무신(戊申)일
 6   2020-03-07 (토)  2020-02-13  경자(庚子)년 기묘(己卯)월 기유(己酉)일
 7   2020-03-08 (일)  2020-02-14  경자(庚子)년 기묘(己卯)월 경술(庚戌)일
 8   2020-03-09 (월)  2020-02-15  경자(庚子)년 기묘(己卯)월 신해(辛亥)일
 9   2020-03-10 (화)  2020-02-16  경자(庚子)년 기묘(己卯)월 임자(壬子)일
 10  2020-03-11 (수)  2020-02-17  경자(庚子)년 기묘(己卯)월 계축(癸丑)일
 11  2020-03-12 (목)  2020-02-18  경자(庚子)년 기묘(己卯)월 갑인(甲寅)일
 12  2020-03-13 (금)  2020-02-19  경자(庚子)년 기묘(己卯)월 을묘(乙卯)일
 13  2020-03-14 (토)  2020-02-20  경자(庚子)년 기묘(己卯)월 병진(丙辰)일
 14  2020-03-15 (일)  2020-02-21  경자(庚子)년 기묘(己卯)월 정사(丁巳)일
 15  2020-03-16 (월)  2020-02-22  경자(庚子)년 기묘(己卯)월 무오(戊午)일
 16  2020-03-17 (화)  2020-02-23  경자(庚子)년 기묘(己卯)월 기미(己未)일
 17  2020-03-18 (수)  2020-02-24  경자(庚子)년 기묘(己卯)월 경신(庚申)일
 18  2020-03-19 (목)  2020-02-25  경자(庚子)년 기묘(己卯)월 신유(辛酉)일
 19  2020-03-20 (금)  2020-02-26  경자(庚子)년 기묘(己卯)월 임술(壬戌)일
 20  2020-03-21 (토)  2020-02-27  경자(庚子)년 기묘(己卯)월 계해(癸亥)일
 21  2020-03-22 (일)  2020-02-28  경자(庚子)년 기묘(己卯)월 갑자(甲子)일
 22  2020-03-23 (월)  2020-02-29  경자(庚子)년 기묘(己卯)월 을축(乙丑)일
 23  2020-03-24 (화)  2020-03-01  경자(庚子)년 경진(庚辰)월 병인(丙寅)일
 24  2020-03-25 (수)  2020-03-02  경자(庚子)년 경진(庚辰)월 정묘(丁卯)일
 25  2020-03-26 (목)  2020-03-03  경자(庚子)년 경진(庚辰)월 무진(戊辰)일
 26  2020-03-27 (금)  2020-03-04  경자(庚子)년 경진(庚辰)월 기사(己巳)일
 27  2020-03-28 (토)  2020-03-05  경자(庚子)년 경진(庚辰)월 경오(庚午)일
 28  2020-03-29 (일)  2020-03-06  경자(庚子)년 경진(庚辰)월 신미(辛未)일
 29  2020-03-30 (월)  2020-03-07  경자(庚子)년 경진(庚辰)월 임신(壬申)일
 30  2020-03-31 (화)  2020-03-08  경자(庚子)년 경진(庚辰)월 계유(癸酉)일]

In [29]:
len(df_list)  # 현 상태는 1개의 데이터

1

In [30]:
df = df_list[0]

In [31]:
print(df.shape)
df.head()

(31, 3)

               양력          음력                     음력간지
0  2020-03-01 (일)  2020-02-07  경자(庚子)년 기묘(己卯)월 계묘(癸卯)일
1  2020-03-02 (월)  2020-02-08  경자(庚子)년 기묘(己卯)월 갑진(甲辰)일
2  2020-03-03 (화)  2020-02-09  경자(庚子)년 기묘(己卯)월 을사(乙巳)일
3  2020-03-04 (수)  2020-02-10  경자(庚子)년 기묘(己卯)월 병오(丙午)일
4  2020-03-05 (목)  2020-02-11  경자(庚子)년 기묘(己卯)월 정미(丁未)일

# Pandas-datareader
+ 쉘에서 pip install --upgrade pandas-datareader 입력

In [32]:
import pandas_datareader as pdr

In [33]:
pdr.get_data_yahoo('035420.KS', '2018-01-01')

                High       Low      Open     Close    Volume      Adj Close
Date
2018-01-03  176800.0  172800.0  175200.0  174200.0  423950.0  173740.343750
2018-01-04  179400.0  174600.0  175800.0  178600.0  650560.0  178128.734375
2018-01-05  183600.0  176000.0  178600.0  181600.0  684055.0  181120.828125
2018-01-08  190600.0  181600.0  183000.0  190000.0  981690.0  189498.656250
2018-01-09  190400.0  186600.0  188800.0  188800.0  390135.0  188301.828125
2018-01-10  195000.0  185400.0  188600.0  185600.0  600485.0  185110.265625
2018-01-11  186800.0  181800.0  185600.0  183400.0  469270.0  182916.078125
2018-01-12  186000.0  180200.0  184000.0  181800.0  447070.0  181320.296875
2018-01-15  185000.0  182200.0  183400.0  184200.0  296000.0  183713.968750
2018-01-16  184800.0  178600.0  183800.0  180600.0  476510.0  180123.468750
2018-01-17  181200.0  177600.0  180600.0  177600.0  535130.0  177131.375000
2018-01-18  181200.0  178600.0  178600.0  180600.0  451540.0  180123.468750
2018-01-19  181400.0  176000.0  181000.0  176200.0  502825.0  175735.078125
2018-01-22  178600.0  176400.0  176800.0  178600.0  377715.0  178128.734375
2018-01-23  179800.0  176800.0  179800.0  177800.0  402375.0  177330.843750
2018-01-24  177800.0  174000.0  177800.0  175600.0  590605.0  175136.656250
2018-01-25  184400.0  173400.0  175600.0  182600.0  845950.0  182118.187500
2018-01-26  185800.0  182000.0  182600.0  185400.0  556845.0  184910.796875
2018-01-29  189600.0  184400.0  184600.0  186400.0  514580.0  185908.156250
2018-01-30  190000.0  184600.0  185600.0  186200.0  510590.0  185708.687500
2018-01-31  189000.0  182000.0  186600.0  182000.0  625920.0  181519.765625
2018-02-01  186400.0  181800.0  182000.0  184600.0  403035.0  184112.906250
2018-02-02  186400.0  180400.0  186000.0  181000.0  410755.0  180522.406250
2018-02-05  181000.0  175400.0  181000.0  175800.0  484835.0  175336.125000
2018-02-06  175600.0  167600.0  172800.0  170200.0  772695.0  169750.906250
2018-02-07  174400.0  168000.0  174000.0  168600.0  478815.0  168155.125000
2018-02-08  172000.0  168400.0  172000.0  168600.0  514750.0  168155.125000
2018-02-09  166000.0  161200.0  163400.0  161600.0  790350.0  161173.593750
2018-02-12  163400.0  159600.0  163400.0  160000.0  953715.0  159577.812500
2018-02-13  164400.0  160600.0  162600.0  161000.0  685125.0  160575.171875
...              ...       ...       ...       ...       ...            ...
2020-01-28  184500.0  178000.0  182000.0  178500.0  476253.0  178500.000000
2020-01-29  183500.0  180000.0  183000.0  180000.0  434897.0  180000.000000
2020-01-30  183000.0  175000.0  179500.0  180000.0  772160.0  180000.000000
2020-01-31  180500.0  177500.0  180000.0  179500.0  537062.0  179500.000000
2020-02-03  180500.0  176000.0  178000.0  177500.0  485913.0  177500.000000
2020-02-04  181500.0  175000.0  177500.0  180500.0  563463.0  180500.000000
2020-02-05  183500.0  178500.0  181000.0  181500.0  653809.0  181500.000000
2020-02-06  183500.0  180500.0  182500.0  181500.0  659850.0  181500.000000
2020-02-07  188500.0  181000.0  181500.0  185000.0  728633.0  185000.000000
2020-02-10  184000.0  180500.0  182500.0  183500.0  433051.0  183500.000000
2020-02-11  185000.0  183000.0  183500.0  184500.0  400386.0  184500.000000
2020-02-12  185000.0  181500.0  183000.0  185000.0  351892.0  185000.000000
2020-02-13  185000.0  183000.0  184000.0  184500.0  555923.0  184500.000000
2020-02-14  187500.0  184000.0  184000.0  186500.0  659429.0  186500.000000
2020-02-17  189000.0  184500.0  184500.0  188500.0  312407.0  188500.000000
2020-02-18  188500.0  185500.0  186500.0  186500.0  345642.0  186500.000000
2020-02-19  191000.0  185000.0  188000.0  189500.0  560743.0  189500.000000
2020-02-20  191500.0  187500.0  189500.0  190000.0  427402.0  190000.000000
2020-02-21  191000.0  187000.0  187500.0  189500.0  434019.0  189500.000000
2020-02-24  187500.0  183500.0  185500.0  184000.0  567036.0  184000.000000
2020-02-25  191000.0  183500.0  184000.0  190500.0  704859.0  190500.000000
2020-02-26  190000.0  186500.0  189500.0  187000.0  494066.0  187000.000000
2020-02-27  187000.0  179000.0  185000.0  182000.0  535696.0  182000.000000
2020-02-28  180000.0  172000.0  179000.0  174000.0  830654.0  174000.000000
2020-03-02  177000.0  172500.0  175000.0  175000.0  659376.0  175000.000000
2020-03-03  180000.0  174000.0  179000.0  175000.0  544379.0  175000.000000
2020-03-04  179500.0  173000.0  174500.0  178500.0  450252.0  178500.000000
2020-03-05  181000.0  178500.0  180500.0  181000.0  483840.0  181000.000000
2020-03-06  181000.0  177500.0  179500.0  179500.0  293897.0  179500.000000
2020-03-09  174500.0  167500.0  174500.0  168000.0  645121.0  168000.000000

[533 rows x 6 columns]