엑셀 열고 원하는 범위 값 읽어내기 

# xlwings 라이브러리

+ 엑셀 프로그램에 대한 자동화 라이브러리
 - 타 엑셀 라이브러리들은 엑셀 프로그램과의 연동이 아니라, 엑셀 파일 포맷을 지원하는 형태
+ 엑셀을 듸어놓고, 파이썬을 통해 작업가능(가져오기/변경 등)
+ 엑셀의 매크로 기능 파이썬으로 구현 지원(VBA 대체 가능)
+ Anaconda Python 에 포함( pip install xlwings 또는 conda install xlwings )

In [2]:
import xlwings as xw

In [3]:
xw.__version__

'0.17.0'

In [22]:
data = [
    ['apple', 'banana', 'berry'],
    [100, 200, 20],
    [12, 13, 53],
]
data

[['apple', 'banana', 'berry'], [100, 200, 20], [12, 13, 53]]

In [25]:
xw.view(data)

In [7]:
import numpy as np

In [26]:
data = np.random.rand(3, 5)
data

array([[0.89954068, 0.41725127, 0.40681473, 0.11165402, 0.42048904],
       [0.4353116 , 0.60765932, 0.92475511, 0.5995706 , 0.41399917],
       [0.16413664, 0.51583695, 0.77190351, 0.35004791, 0.40663705]])

In [27]:
xw.view(data, xw.sheets.active)  # 현재 active 되어있는 액셀 창에서 변경됨

In [10]:
xw.sheets.active

In [28]:
import pandas as pd

In [29]:
url = 'https://finance.naver.com/marketindex/exchangeList.nhn'

In [31]:
df_list = pd.read_html(url)
len(df_list)

1

In [32]:
df = df_list[0]
print(df.shape)
df.head()

(44, 7)

,통화명,매매기준율,현찰,송금,미화환산율,Unnamed: 5_level_0,Unnamed: 6_level_0
,사실 때,파실 때,보내실 때,받으실 때,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,미국 USD,1194.00,1214.89,1173.11,1205.70,1182.30,1.000
1,유럽연합 EUR,1355.31,1382.28,1328.34,1368.86,1341.76,1.135
2,일본 JPY (100엔),1136.22,1156.10,1116.34,1147.35,1125.09,0.952
3,중국 CNY,171.42,179.99,162.85,173.13,169.71,0.144
4,홍콩 HKD,153.66,156.68,150.64,155.19,152.13,0.129

In [34]:
df.columns = [
    '통화명',
    '매매기준율',
    '현찰 - 사실 때',
    '현찰 - 파실 때',
    '송금 - 보내실 때',
    '송금 - 받으실 때',
    '미화환산율'
]
df.head()

             통화명    매매기준율  현찰 - 사실 때  현찰 - 파실 때  송금 - 보내실 때  송금 - 받으실 때  미화환산율
0         미국 USD  1194.00    1214.89    1173.11     1205.70     1182.30  1.000
1       유럽연합 EUR  1355.31    1382.28    1328.34     1368.86     1341.76  1.135
2  일본 JPY (100엔)  1136.22    1156.10    1116.34     1147.35     1125.09  0.952
3         중국 CNY   171.42     179.99     162.85      173.13      169.71  0.144
4         홍콩 HKD   153.66     156.68     150.64      155.19      152.13  0.129

In [35]:
df.set_index('통화명')

                 매매기준율  현찰 - 사실 때  현찰 - 파실 때  송금 - 보내실 때  송금 - 받으실 때  미화환산율
통화명
미국 USD         1194.00    1214.89    1173.11     1205.70     1182.30  1.000
유럽연합 EUR       1355.31    1382.28    1328.34     1368.86     1341.76  1.135
일본 JPY (100엔)  1136.22    1156.10    1116.34     1147.35     1125.09  0.952
중국 CNY          171.42     179.99     162.85      173.13      169.71  0.144
홍콩 HKD          153.66     156.68     150.64      155.19      152.13  0.129
대만 TWD           39.84      45.05      37.06        0.00        0.00  0.033
영국 GBP         1557.69    1588.37    1527.01     1573.26     1542.12  1.305
오만 OMR         3100.73    3376.69    2914.69        0.00        0.00  2.597
캐나다 CAD         874.53     891.75     857.31      883.27      865.79  0.732
스위스 CHF        1277.28    1302.44    1252.12     1290.05     1264.51  1.070
스웨덴 SEK         126.15     129.24     123.06      127.41      124.89  0.106
호주 AUD          783.08     798.50     767.66      790.91      775.25  0.656
뉴질랜드 NZD        753.83     768.68     738.98      761.36      746.30  0.631
체코 CZK           53.03      57.53      48.26       53.61       52.45  0.044
칠레 CLP            1.43       1.54       1.32        0.00        0.00  0.001
터키 TRY          195.16       0.00       0.00      197.30      193.02  0.164
몽골 MNT            0.43       0.00       0.00        0.00        0.00  0.000
이스라엘 ILS        338.74     372.61     311.65        0.00        0.00  0.284
덴마크 DKK         181.43     185.87     176.99      183.24      179.62  0.152
노르웨이 NOK        126.14     129.23     123.05      127.40      124.88  0.106
사우디아라비아 SAR     318.06     338.09     296.12      321.24      314.88  0.266
쿠웨이트 KWD       3902.22    4155.86    3590.05     3941.24     3863.20  3.268
바레인 BHD        3165.68    3368.28    2912.43     3197.33     3134.03  2.651
아랍에미리트 AED      325.07     342.94     302.65      328.32      321.82  0.272
요르단 JOD        1683.59    1833.42    1548.91        0.00        0.00  1.410
이집트 EGP          76.00       0.00       0.00        0.00        0.00  0.064
태국 THB           37.89      39.78      35.62       38.26       37.52  0.032
싱가포르 SGD        858.07     875.14     841.00      866.65      849.49  0.719
말레이시아 MYR       281.77     299.52     260.92        0.00      278.96  0.236
인도네시아 IDR 100     8.34       8.92       7.51        8.42        8.26  0.007
카타르 QAR         327.93       0.00       0.00        0.00        0.00  0.275
카자흐스탄 KZT         3.01       0.00       0.00        0.00        0.00  0.003
브루나이 BND        858.07     892.39     806.59        0.00        0.00  0.719
인도 INR           16.10       0.00       0.00        0.00        0.00  0.014
파키스탄 PKR          7.57       0.00       0.00        0.00        0.00  0.006
방글라데시 BDT        14.06       0.00       0.00        0.00        0.00  0.012
필리핀 PHP          23.64      26.00      21.71       23.87       23.41  0.020
멕시코 MXN          58.32      64.15      53.43       58.90       57.74  0.049
브라질 BRL         252.72     278.49     232.51        0.00      249.69  0.212
베트남 VND 100       5.15       5.75       4.55        5.20        5.10  0.004
남아프리카 공화국 ZAR    75.63      80.16      69.58       76.53       74.73  0.063
러시아 RUB          16.85      18.02      15.00       17.01       16.69  0.014
헝가리 HUF           4.03       4.40       3.71        4.07        3.99  0.003
폴란드 PLN         313.70     338.79     288.61      317.15      310.25  0.263

In [36]:
df = df.set_index('통화명')
df.head()

                 매매기준율  현찰 - 사실 때  현찰 - 파실 때  송금 - 보내실 때  송금 - 받으실 때  미화환산율
통화명
미국 USD         1194.00    1214.89    1173.11     1205.70     1182.30  1.000
유럽연합 EUR       1355.31    1382.28    1328.34     1368.86     1341.76  1.135
일본 JPY (100엔)  1136.22    1156.10    1116.34     1147.35     1125.09  0.952
중국 CNY          171.42     179.99     162.85      173.13      169.71  0.144
홍콩 HKD          153.66     156.68     150.64      155.19      152.13  0.129

In [43]:
xw.view(df, xw.sheets.active)

In [45]:
xw.Range('A1:D7').value

[['통화명', '매매기준율', '현찰 - 사실 때', '현찰 - 파실 때'],
 ['미국 USD', 1194.0, 1214.89, 1173.11],
 ['유럽연합 EUR', 1355.31, 1382.28, 1328.34],
 ['일본 JPY (100엔)', 1136.22, 1156.1, 1116.34],
 ['중국 CNY', 171.42, 179.99, 162.85],
 ['홍콩 HKD', 153.66, 156.68, 150.64],
 ['대만 TWD', 39.84, 45.05, 37.06]]

In [46]:
xw.Range('A1').value

'통화명'

In [47]:
xw.Range('A1').expand()  # 'table'(디폴트), 'right', 'down' 등 expand 특성 선택하면 방향 끝 범위를 알 수 있음

In [52]:
xw.Range('A1:A3').expand().value

[['통화명',
  '매매기준율',
  '현찰 - 사실 때',
  '현찰 - 파실 때',
  '송금 - 보내실 때',
  '송금 - 받으실 때',
  '미화환산율'],
 ['미국 USD', 1194.0, 1214.89, 1173.11, 1205.7, 1182.3, 1.0],
 ['유럽연합 EUR', 1355.31, 1382.28, 1328.34, 1368.86, 1341.76, 1.135],
 ['일본 JPY (100엔)',
  1136.22,
  1156.1,
  1116.34,
  1147.35,
  1125.09,
  0.9520000000000001],
 ['중국 CNY', 171.42, 179.99, 162.85, 173.13, 169.71, 0.14400000000000002],
 ['홍콩 HKD', 153.66, 156.68, 150.64, 155.19, 152.13, 0.129],
 ['대만 TWD', 39.84, 45.05, 37.06, 0.0, 0.0, 0.033],
 ['영국 GBP', 1557.69, 1588.37, 1527.01, 1573.26, 1542.12, 1.305],
 ['오만 OMR', 3100.73, 3376.69, 2914.69, 0.0, 0.0, 2.597],
 ['캐나다 CAD', 874.53, 891.75, 857.31, 883.27, 865.79, 0.732],
 ['스위스 CHF', 1277.28, 1302.44, 1252.12, 1290.05, 1264.51, 1.07],
 ['스웨덴 SEK', 126.15, 129.24, 123.06, 127.41, 124.89, 0.106],
 ['호주 AUD', 783.08, 798.5, 767.66, 790.91, 775.25, 0.6559999999999999],
 ['뉴질랜드 NZD', 753.83, 768.68, 738.98, 761.36, 746.3, 0.631],
 ['체코 CZK', 53.03, 57.53, 48.26, 53.61, 52.45, 0.044000000000000004],
 ['칠레 CLP', 1.43, 1.54, 1.32, 0.0, 0.0, 0.001],
 ['터키 TRY', 195.16, 0.0, 0.0, 197.3, 193.02, 0.16399999999999998],
 ['몽골 MNT', 0.43, 0.0, 0.0, 0.0, 0.0, 0.0],
 ['이스라엘 ILS', 338.74, 372.61, 311.65, 0.0, 0.0, 0.284],
 ['덴마크 DKK', 181.43, 185.87, 176.99, 183.24, 179.62, 0.152],
 ['노르웨이 NOK', 126.14, 129.23, 123.05, 127.4, 124.88, 0.106],
 ['사우디아라비아 SAR', 318.06, 338.09, 296.12, 321.24, 314.88, 0.266],
 ['쿠웨이트 KWD', 3902.22, 4155.86, 3590.05, 3941.24, 3863.2, 3.2680000000000002],
 ['바레인 BHD', 3165.68, 3368.28, 2912.43, 3197.33, 3134.03, 2.6510000000000002],
 ['아랍에미리트 AED', 325.07, 342.94, 302.65, 328.32, 321.82, 0.272],
 ['요르단 JOD', 1683.59, 1833.42, 1548.91, 0.0, 0.0, 1.41],
 ['이집트 EGP', 76.0, 0.0, 0.0, 0.0, 0.0, 0.064],
 ['태국 THB', 37.89, 39.78, 35.62, 38.26, 37.52, 0.032],
 ['싱가포르 SGD', 858.07, 875.14, 841.0, 866.65, 849.49, 0.7190000000000001],
 ['말레이시아 MYR', 281.77, 299.52, 260.92, 0.0, 278.96, 0.23600000000000002],
 ['인도네시아 IDR 100', 8.34, 8.92, 7.51, 8.42, 8.26, 0.006999999999999999],
 ['카타르 QAR', 327.93, 0.0, 0.0, 0.0, 0.0, 0.275],
 ['카자흐스탄 KZT', 3.01, 0.0, 0.0, 0.0, 0.0, 0.003],
 ['브루나이 BND', 858.07, 892.39, 806.59, 0.0, 0.0, 0.7190000000000001],
 ['인도 INR', 16.1, 0.0, 0.0, 0.0, 0.0, 0.013999999999999999],
 ['파키스탄 PKR', 7.57, 0.0, 0.0, 0.0, 0.0, 0.006],
 ['방글라데시 BDT', 14.06, 0.0, 0.0, 0.0, 0.0, 0.012],
 ['필리핀 PHP', 23.64, 26.0, 21.71, 23.87, 23.41, 0.02],
 ['멕시코 MXN', 58.32, 64.15, 53.43, 58.9, 57.74, 0.049],
 ['브라질 BRL', 252.72, 278.49, 232.51, 0.0, 249.69, 0.212],
 ['베트남 VND 100', 5.15, 5.75, 4.55, 5.2, 5.1, 0.004],
 ['남아프리카 공화국 ZAR', 75.63, 80.16, 69.58, 76.53, 74.73, 0.063],
 ['러시아 RUB', 16.85, 18.02, 15.0, 17.01, 16.69, 0.013999999999999999],
 ['헝가리 HUF', 4.03, 4.4, 3.71, 4.07, 3.99, 0.003],
 ['폴란드 PLN', 313.7, 338.79, 288.61, 317.15, 310.25, 0.263]]